footer {
    margin-top: 10vh;
    padding: 2vmax;
    background-color: rgba(34, 33, 33, 1);
    color: white;
    display: flex;
    align-items: center;
}

.leftFooter {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftFooter > p {
    text-align: center;
}

.leftFooter > img {
    width: 60%;
    text-align: center;
    margin: 1vmax;
}

.midFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.midFooter > h1 {
    font-size: 4vmax;
    color: #eb4034;
}

.midFooter > p {
    max-width: 60%;
    margin: 1vmax auto;
}

.rightFooter {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.rightFooter > h4 {
    font-size: 1.4vmax;
    text-decoration: underline;
}

.rightFooter > a {
    text-decoration: none;
    color: white;
    font-size: 1.3vmax;
    margin: 0.5vmax;
}

@media screen and (max-width: 600px) {
    .midFooter > h1 {
        font-size: 2.3vmax;
        color: #eb4034;
    }
    .midFooter > p {
        max-width: 60%;
        margin: 1vmax auto;
        font-size: 0.5rem;
    }
    .leftFooter > h4 {
        font-size: 0.7rem;
    }
}
